@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-primary: #1b1c34;
  --bg-color-secondary: #1c2d67;
  --bg-gradient: radial-gradient(ellipse 80% 80% at 50% -20%, var(--bg-color-secondary), var(--bg-color-primary));
  --color-white: #fff;
  --color-black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overscroll-behavior: none;
}